body {
	margin: 0;
	background: #2c2b3d;
	min-height: 100vh;
	font-family: 'JetBrains Mono', monospace;
	color: #fff;
}

.pg {
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	display: flex;
	list-style: none;
	gap: 65px;
	align-items: center;
}

ul li a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

ul li a:hover {
	opacity: 0.6;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px 0 160px 0;
}

main section img {
	margin-right: 80px;
}

section h1 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;

	margin-bottom: 60px;
	line-height: 40px;
}

section p {
	color: #c2c2c2;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	margin: 40px 0;
}

section span {
	color: #00bfa6;
}

footer {
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}

footer div {
	width: 570px;
	border: 1px solid #00bfa6;
	margin: 0 auto 30px;
}

footer a {
	text-decoration: underline;
	color: #00bfa6;
}

footer a:hover {
	opacity: 0.6;
}

#padlock {
	position: fixed;
	left: 0;
	bottom: 0;
}
